## Welcome to Python Learning

In [ ]:
print ("Hello World!")

print ("Hello Bob!")

print ("Hello World!")

print ("Hello Bob!")

In [5]:
2 + 2

4

In [6]:
4/2

2.0

In [7]:
3 % 2   # % will give remainder of 3 divide by 2 is 1

1

In [8]:
3**2   # power of

9

In [9]:
'This is a string '

'This is a string '

In [10]:
"This is a string "

'This is a string '

In [11]:
print("Hello" + "World!")

HelloWorld!

In [12]:
6/2 # division will result in float

3.0

In [13]:
5 // 2  # floor division, gives the integer part of the division

2

In [17]:
type(5)

int

In [18]:
type(3.2)

float

In [23]:
type(True)  #binary var

bool

In [24]:
"Hello World!"

'Hello World!'

In [25]:
"Hello I'm Dz"  # used double quote for I'm

'Hello Im Dz'

In [28]:
print ('Hello Everyone,', 2 , 'apples are ready to eat in the plate')

Hello Everyone, 2 apples are ready to eat in the plate

In [29]:
print ('Hello','everyone ')  # to get extra info on function , click on func, press Shift+Tab

Hello everyone

In [ ]:
# = Assign to varible

In [31]:
x = 3

In [32]:
x

3

In [33]:
#boolean variable

In [34]:
result = True

In [39]:
result2 = False

In [40]:
result or results2

True

In [42]:
result and result2

False

In [43]:
type(result)

bool

In [45]:
greeting = "hello everyone!"
print(greeting)

hello everyone!

In [48]:
name = input("What's your name? ")  # input function save to the variable as a string

What's your name? Dz

In [49]:
age = input("How old are you ?")

How old are you ?20

In [50]:
type(age)

str

In [54]:
int(age) + 2

22

In [51]:
int(2.4)  # gives the integer part of an input

2

In [52]:
round(4.6)

5

In [53]:
round(1.34534, 2)

1.35

In [55]:
age = int(input('Please enter your age : '))

Please enter your age : 20

In [56]:
type (age)

int

In [76]:
Name= input("What is your name ?")

Age= int(input("What is your Age ?"))

print (Name + ", you will turn 100 y/o in the year" , 2021 - Age + 100)

What is your name ?Dz
What is your Age ?12
2101
Dz, you will turn 100 in the year 2109

In [78]:
Name= input("What is your name ?")


Age= int(input("What is your Age ?"))

hundred = 2021 - age + 100


print (Name + ", you will turn 100 y/o in the year" , hundred)

What is your name ?dz
What is your Age ?10
dz, you will turn 100 y/o in the year 2101

In [88]:
Order = input ("Hi , What do you want to order ? ")

Hi , What do you want to order ? Grande capucino

In [89]:
Cup = input ("How many cups do you want ? ")

How many cups do you want ? 2

In [92]:
print("Here you go " + Name + ", your order of " + Cup + " of " + Order) # better to use "," instead of "+"

Here you go dz, your order of 2 of Grande capucino

### Flow control

In [4]:
x = 1

while x > 7 : 
    print(x, "X is bigger than 7" )
    print(x, "X is also bigger than 8" )
    
print( x, " is smaller than 7")

1  is smaller than 7

In [5]:
# while loop will continue to execute until it doesnt meet the condition

count = 0

while count < 5:
    print(count)
    count = count + 1
    
print("while loop complete!")

0
1
2
3
4
while loop complete!

In [6]:
count = 0

while count < 5:
    count = count + 1
    print(count)
    
print("while loop complete!")

1
2
3
4
5
while loop complete!

In [11]:
x = 5
total = 0 

while x < 8 :
    total = total + x 
    x = x + 1 
    
print("What is the value for total = ",total)

What is the value for total =  18

In [13]:
# for loop 
for x in range(3,6):       # range (0,3)  ---> [0,1,2] 
    print(x)

3
4
5

In [18]:
cm = [145, 167, 178, 135, 188]
for x in cm:
    m = x/100
    print("For height in", x, " the height in M is : ", m)

For height in 145  the height in M is :  1.45
For height in 167  the height in M is :  1.67
For height in 178  the height in M is :  1.78
For height in 135  the height in M is :  1.35
For height in 188  the height in M is :  1.88

In [19]:
# if statement 
a = 1
b = 2 
if a < b:
    print('a is less than b')

a is less than b

In [21]:

a = 4
b = 2 
if a < b:
    print('a is less than b')
else:
    print ('a is bigger than b')

a is bigger than b

In [23]:
a = 1
b = 2 
if a < b:
    print('a is less than b')
else:
    print ('a is bigger than b')
    
print("if statement complete")

a is less than b
if statement complete

In [25]:
# if - elif - else statement 

a = 1 
b = 1

if a < b:
    print('a is less than b')
    
elif a == b:
    print ('a is equal to b')
    
else: 
    print ('a is more than b')
    
print('if statement complete')

a is equal to b
if statement complete

In [27]:
 # you can have elif (in between statement) as much as possible, but only 1 if or else 
a = 1                     
b = 1

if a <= b:
    print('a is less or equal b')
    
elif a == b:
    print ('a is equal to b')
    
else: 
    print ('a is more than b')
    
print('if statement complete')

a is less or equal b
if statement complete

In [30]:
number = int(input("Please enter a number between 1 and 100 "))
if number > 55:
    print("The number is more than 55")
else:
    print('The number is not more than 55')

Please enter a number between 1 and 1001
The number is not more than 55

In [33]:
number = int(input("Please enter a number between 1 and 100: "))
if number > 55:
    print("The number is more than 55")
else:
    print('The number is not more than 55')

Please enter a number between 1 and 100: 56
The number is more than 55

# Python Collections 
List - uses square bracket l = [1,2,3]
Tuples - uses parentheses t = (1,2,2'a')  cannot mutable 
Dictionary used curly brackets ( have key and value )

In [35]:
a = [11,22,33,44,55,66,77,88,99]

In [36]:
a[4]

55

In [37]:
a.index(77) #find out the index number of the (first occurence) in a value

6

In [59]:
b = [22,55,33,22,44,33,22,44,33,22,44]

In [40]:
b.index(22)

0

In [41]:
b.append(999)

In [42]:
b

[22, 55, 33, 22, 44, 33, 22, 999]

In [43]:
b.pop()

999

In [44]:
b

[22, 55, 33, 22, 44, 33, 22]

In [45]:
c = [11,22,33]

In [46]:
c.append(43)
print(c)

[11, 22, 33, 43]

In [51]:
c.pop() # it will remove the last index in the list unless specify in ()

33

In [52]:
print(c)

[11, 888, 22]

In [49]:
c.insert(1,888) # insert at index no.1 , the value of 888

In [50]:
c

[11, 888, 22, 33]

In [54]:
c

[11, 888, 22]

In [55]:
c.remove (11)

In [56]:
c

[888, 22]

In [60]:
while b.count(22) > 0:
    b.remove(22)
    
b

[55, 33, 44, 33, 44, 33, 44]

In [61]:
while 44 in b:
    b.remove(44)
b

[55, 33, 33, 33]

In [62]:
b.extend(c)

In [63]:
b

[55, 33, 33, 33, 888, 22]

In [64]:
d = ["Hello","amy"]

In [65]:
c.extend(d)

In [66]:
c

[888, 22, 'Hello', 'amy']

In [103]:
b = [22, 65, 11, 66]
b.insert(1,"hello")
c = b
c.pop()
c

[22, 'hello', 65, 11]

In [95]:
c = b
c

[22, 'hello', 65, 11]

In [96]:
a

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [97]:
# slicing
a[2:4]

[33, 44]

11

In [104]:
a[3:-3]

[44, 55, 66]

In [107]:
a[2:-6]

[33]

In [108]:
a[:]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [109]:
a[::1]  # step number  ( skip by 1 )

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [110]:
a[::]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [111]:
a[::2]# step number 2 meaning skip by 2

[11, 33, 55, 77, 99]

In [112]:
a[1:8:2]

[22, 44, 66, 88]

In [113]:
a[2:6:3]

[33, 66]

In [114]:
a

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [7]:
#Exercise 1
e = [45, 56, 67, 78, 89, 90]
e.insert(2,101)

e.remove(89)

e.append(111)

e

[45, 56, 101, 67, 78, 90, 111]

In [10]:
# Exercise 2 
f = [1,2,3,4,5,6,7,8,9,10,11,12]
f[2:10:3]

[3, 6, 9]

In [11]:
f[::-1]  # reverse the list

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [13]:
greeting= 'Hello'  # reverse can be applied to string 
greeting [::-1]

'olleh'

In [25]:
# Exercise 3 Palindrome , word that reads the same from front and back 
# ex: level, civic, tenet, anna, oppo, wow, madam , refer, brb, lol, radar
 
word = input("What is your palingdrome word ?")
word = word.lower()
reverseword = word[::-1]

if word == reverseword:
    print (word, " is palindrome")
    print("you have completed the task!")
else:
    print("not true, try again")

What is your palingdrome word ?wow
wow  is palindrome
you have completed the task!

In [31]:
# Exercise 3 Palindrome , word that reads the same from front and back 
# ex: level, civic, tenet, anna, oppo, wow, madam , refer, brb, lol, radar
 
word = input("What is your palingdrome word ? ")
wordly = word.lower()
reverseword = wordly[::-1]

if wordly == reverseword:
    print (word, " is palindrome")
    print("you have completed the task!")
else:
    print(word,"is not a palindrome, try again")

What is your palingdrome word ? 121
121  is palindrome
you have completed the task!

## Dictionary

In [33]:
#### Dictionary stores (key,value) pairs . 
#### Dictionary come in pairs 
#### dictionary does not have a sequence

In [34]:
mycat = {'size': 'fat', 'color': 'white', 'personality':'playful'}

In [ ]:
type(mycat)

In [41]:
mycat['size']  # use the key to get the value for each pair

'fat'

In [42]:
mycat.keys() # show all the key in the dictionary

dict_keys(['size', 'color', 'personality'])

In [39]:
mycat.values()

dict_values(['fat', 'white', 'playful'])

In [46]:
mycat['color'] = 'black' # it will replace the current value 
mycat['color']

'black'

In [49]:
mycat['age'] = 2  # can add another key and value at the end
mycat

{'size': 'fat', 'color': 'black', 'personality': 'playful', 'age': 2}

In [50]:
mycat['gender'] = 'female'

In [51]:
mycat['breed'] = 'shorthair'

In [52]:
mycat

{'size': 'fat',
 'color': 'black',
 'personality': 'playful',
 'age': 2,
 'gender': 'female',
 'breed': 'shorthair'}

In [53]:
d={}        # create new dict
type(d)

dict

In [54]:
d['morning break'] = '10.30am' # can be added to the dict

In [55]:
d['lunch break'] = '12.30pm'

In [56]:
d[1] = 123

In [57]:
d

{'morning break': '10.30am', 'lunch break': '12.30pm', 1: 123}

In [58]:
d.pop(1)

123

In [59]:
d

{'morning break': '10.30am', 'lunch break': '12.30pm'}

In [63]:
f = {}

for x in range(0,5):
    f[x] = x + 2
    
print(f)

{0: 2, 1: 3, 2: 4, 3: 5, 4: 6}

In [68]:
#Exercise 4

n = int(input("please enter a number "))
a= {}

for i in range(2,n+1):
    a[i] = i**2
print(a)

please enter a number 7
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

## Functions

In [69]:
def AreaofSquare(sidelength):  # with Input argument
    area = sidelength**2
    return area

In [70]:
def GeneralGreeting():  # without argument 
    print("Hello World !")

In [71]:
GeneralGreeting()

Hello World !

In [72]:
AreaofSquare(3)

9

In [76]:
def breakfast(breakfast):
    print(" I ate ", breakfast, 'for breakfast')

In [77]:
breakfast('rice')

 I ate  rice for breakfast

In [82]:
# fucntions with more than 1 arguments 

def weathertoday(morning,noon, evening):
    print('The weather today is:\nmorning:', morning, '\nafternoon: ', noon,'\nevening : ', evening )

In [83]:
weathertoday('sunny','rainy','cloudy')

The weather today is:
morning: sunny
afternoon:  rainy
evening :  cloudy

In [84]:
# functions with default arguments 

def Hello(name = 'everybody'):  
    print('Hello', name)

In [86]:
Hello()

Hello everobody

In [87]:
def weathertoday(morning = 'unknown',noon = 'unknown', evening = 'unknown'):
    print('The weather today is:\nmorning:', morning, '\nafternoon: ', noon,'\nevening : ', evening )

In [88]:
weathertoday('sunny','rain')

The weather today is:
morning: sunny
afternoon:  rain
evening :  unknown

In [89]:
# functions Arbitrary arguments 

def WhoisLast(*kids):
    print('The youngest child is', kids[-1])

WhoisLast('Thomas', "Timothy",'Dz')

The youngest child is Dz

In [90]:
WhoisLast('Thomas', "Timothy",'Dz',"Anna","Sofeia")

The youngest child is Sofeia

### Regular Expressions

In [91]:
# most common uses : search , match 
import re

In [104]:
# re.match() to look for a certain pattern at the beginning of a string , 
# remember to put r at the beginning as indicate or "raw" in string 

result = re.match(r'Hi', 'Hi, I am new here')
print(result)

<re.Match object; span=(0, 2), match='Hi'>

In [102]:
result = re.match(r'Hi', ' I am new here, Hi !')
print(result)

None

In [99]:
# re.search () to look inside a string, but it only looks once!

result = re.search(r'Hi', ' I am new here, Hi !')
print(result)

<re.Match object; span=(16, 18), match='Hi'>

In [109]:
#re.findall() looks for all occurences of a pattern

result = re.findall(r'Hi', 'Hi,  I am new here, Hiy OHi !')
print(result)

['Hi', 'Hi', 'Hi']

In [112]:
#re.split() to split at the location of the pattern (also removing the pattern)

result = re.split(r' ', 'I ate 300 apples today!')
print(result)

['I', 'ate', '300', 'apples', 'today!']

In [113]:
#re.sub(pattern,sub,string) to find pattern, then subsitute with another string 

result = re.sub(r'hate', 'love', 'I hate you!')
print(result)

I love you!

In [115]:
# Exercise 5

x = "I am feeling great today"
x = re.split(r' ', x)
print(x)

['I', 'am', 'feeling', 'great', 'today']

In [119]:
# Exercise 6 

x = "I love strawberries, I eat 300 strawberries a day"
x = re.findall(r'strawberries', x)
print(x)
len(x)

['strawberries', 'strawberries']

2

In [125]:
# Exercise 7

x = "The grapes in the basket are fresh, I love grapes !"
x = re.sub(r'grapes','melons', x)
print(x)
len(x)

The melons in the basket are fresh, I love melons !

51

In [126]:
# re.compile() combine a regular expression pattern into a pattern object

pattern = re.compile(r'grapes')

result = re.sub(pattern, 'melons', x)
print(result)

The melons in the basket are fresh, I love melons !

In [127]:
pattern

re.compile(r'grapes', re.UNICODE)

In [130]:
# metacharacters
# '.' find any single character

result = re.findall(r'.','I like apples')
print(result)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 'a', 'p', 'p', 'l', 'e', 's']

In [136]:
# '[]' find any single character inside the square bracket

result = re.findall(r'[eak]','I like apples')
print(result)

['k', 'e', 'a', 'e']

In [138]:
# '[]' find any single character inside the square bracket

result = re.findall(r'[a-z,A-Z]','I like apples')
print(result)

['I', 'l', 'i', 'k', 'e', 'a', 'p', 'p', 'l', 'e', 's']

In [144]:
# '[]' find any single character inside the square bracket
# + can be used to group words together 

result = re.findall(r'[a-z0-9]+','Hi I am new here 200 days earlier')
print(result)

['i', 'am', 'new', 'here', '200', 'days', 'earlier']

In [145]:
# '\w' find any alphanumeric character 
# + can be used to group words together 

result = re.findall(r'\w+','Hi I am new here 200 days earlier')
print(result)

['Hi', 'I', 'am', 'new', 'here', '200', 'days', 'earlier']

In [148]:
# '\W' find any non-alphanumeric character 

result = re.findall(r'\W+','Hi I am here 200 days earlier!')
print(result)

[' ', ' ', ' ', ' ', ' ', ' ', '!']

In [149]:
# Exercise 8 

result = re.findall(r'[0-9]+','I want to buy 300 apples and 400 oranges on the 31st of August')
print(result)

['300', '400', '31']

In [152]:
result = re.findall(r'\d+','I want to buy 300 apples and 400 oranges on the 31st of August')
print(result)

['300', '400', '31']

In [153]:
result = re.findall(r'\s+','I want to buy 300 apples and 400 oranges on the 31st of August')
print(result)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [154]:
# Exercise 9 

result = re.findall(r'\w+','Charlie goes to the gym 3 times a week')
print(result)

['Charlie', 'goes', 'to', 'the', 'gym', '3', 'times', 'a', 'week']

In [174]:
# Exercise 10

result = re.findall(r'(gr[ea]y)','grey gray groy black greay')
print(result)

['grey', 'gray']

In [186]:
result = re.findall(r'grey|gray','grey gray groy black greay')
print(result)

['grey', 'gray']

In [187]:
# ? is used to find either with or without the pattern on its left

result = re.findall(r'colou?r', 'colour color colour')
print(result)

['colour', 'color', 'colour']

In [188]:
# * is used to find 0 or more occurence of the pattern on its left 

result= re.findall(r'X-*X', 'XX X-X X--------------------------X')
print(result)

['XX', 'X-X', 'X--------------------------X']

In [189]:
# ? is used to find 0 or 1 occurence of the pattern on its left 

result= re.findall(r'X-?X', 'XX X-X X--------------------------X')
print(result)

['XX', 'X-X']

In [190]:
# + is used to find 1 or more occurence of the pattern on its left 

result= re.findall(r'X-+X', 'XX X-X X--------------------------X')
print(result)

['X-X', 'X--------------------------X']

In [196]:
# Excercise 11 

result= re.findall(r'0AA?5', '0AA5 0Awerwsfwrt5 0A5')
print(result)

['0AA5', '0A5']

In [197]:
# '^' (at the beginning of the string ) and the '$' (at the end of the string )
result= re.findall(r'^\w+', 'Dz wants 214 apples and 250 oranges')
print(result)

['Dz']

In [198]:
result= re.findall(r'\w+$', 'Dz wants 214 apples and 250 oranges')
print(result)

['oranges']

In [205]:
result= re.findall(r'^\d+$', '1239456')
print(result)

['1239456']

In [208]:
result= re.findall(r'^\d+$', '24435A')
print(result)

[]

In [210]:
numbers = ['1239456','24435A']

for i in numbers:
    result= re.findall(r'^\d+$', i )
    if result:
        print(i, 'contains only number')
    else:
        print(i, 'contains non-number characters')

1239456 contains only number
24435A contains non-number characters

### Applications of Regular Expression

In [211]:
# ' john 32-234- 12-04-2121 mary 23-234- 11-09-2020'

result = re.findall(r'\d\d-\d\d-\d\d\d\d', 'john 32-234- 12-04-2121 mary 23-234- 11-09-2020')
print(result)

['12-04-2121', '11-09-2020']

In [212]:
# {n} can be used to to indicates numbers of pattern required

result = re.findall(r'\d{2}-\d{2}-\d{4}', 'john 32-234- 12-04-2121 mary 23-234- 11-09-2020')
print(result)

['12-04-2121', '11-09-2020']

In [213]:
# 'adef,afde;wero.fwer werd' to split at different delimitters

result = re.split(r'[,;.\s]', 'adef,afde;wero.fwer werd')
print(result)

['adef', 'afde', 'wero', 'fwer', 'werd']

In [215]:
result = re.sub(r'[,;.\s]','/','adef,afde;wero.fwer werd')
print(result)

adef/afde/wero/fwer/werd

In [219]:
# 'amy@gmail.com simon@hotmail.com john@gmx.com'

result = re.findall(r'@\w+','amy@gmail.com simon@hotmail.com john@gmx.com' )
result

['@gmail', '@hotmail', '@gmx']

In [220]:
# the () excluded the @ in the ouput / it shows only the inside pattern in the bracket 

result = re.findall(r'@(\w+)','amy@gmail.com simon@hotmail.com john@gmx.com' )
result

['gmail', 'hotmail', 'gmx']

In [225]:
hashtags = '#trending #viral #love #instagram #tiktok #explorepage #instagood #follow #like #fashion #explore #likeforlikes #followforfollowback #photography #memes #music #india #trend #instadaily #likes #style #photooftheday #trendingnow #dance #model #bollywood #foryou #bhfyp #kerala #bhfyp'
result = re.findall(r'#(\w+)',hashtags )
result

['trending',
 'viral',
 'love',
 'instagram',
 'tiktok',
 'explorepage',
 'instagood',
 'follow',
 'like',
 'fashion',
 'explore',
 'likeforlikes',
 'followforfollowback',
 'photography',
 'memes',
 'music',
 'india',
 'trend',
 'instadaily',
 'likes',
 'style',
 'photooftheday',
 'trendingnow',
 'dance',
 'model',
 'bollywood',
 'foryou',
 'bhfyp',
 'kerala',
 'bhfyp']

In [229]:
# Exercise 11 
e = ['Amy', 'Amy is my best friend' , 'my best pal is Amy']

for i in e:
    result= re.findall(r'^Amy$', i )
    if result:
        print(i, 'is valid')
    else:
        print(i, 'is not valid')

Amy is valid
Amy is my best friend is not valid
my best pal is Amy is not valid

In [237]:
 l = ['8989298989', '9989298989', '90123456789', '1000000000', '8000000abc']

for i in l:
    result= re.findall(r'^[89]', i )
    
    if result:
        print(i, 'is valid')
    else:
        print(i, 'is not valid')

8989298989 is valid
9989298989 is valid
90123456789 is valid
1000000000 is not valid
8000000abc is valid

In [245]:
 l = ['8989298989', '9989298989', '90123456789', '1000000000', '8000000abc']

for i in l:
    result= re.findall(r'^[89]\d{9}$', i )  
    if result:
        print(i, 'is valid')
    else:
        print(i, 'is not valid')

8989298989 is valid
9989298989 is valid
90123456789 is not valid
1000000000 is not valid
8000000abc is not valid

In [246]:
# difference between == and is in python 


# python3 code to
# illustrate the
# difference between
# == and is operator
# [] is an empty list
list1 = []
list2 = []
list3=list1
 
if (list1 == list2):
    print("True")
else:
    print("False")
 
if (list1 is list2):
    print("True")
else:
    print("False")
 
if (list1 is list3):
    print("True")
else:   
    print("False")
 
list3 = list3 + list2
 
if (list1 is list3):
    print("True")
else:   
    print("False")

True
False
True
False