In [1]:
# Importing the libraries 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
# data collection
df = pd.read_csv('C:/Users/dz234/OneDrive/Desktop/Learning Process/Applied Data Science/Market_Basket_Optimisation.csv',header = None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# fill na with zero
df.fillna(0, inplace = True)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [21]:
# data pre-processing 
transactions = []
for i in range(0, len(df)):
    transactions.append([str(df.values[i,j]) for j in range (0, len(df.columns)) if str(df.values[i,j])!='0'])

In [26]:
transactions[0]

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach',
 'olive oil']

In [11]:
# training apriori on the dataset 
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, max_length = 3)

#saving the rules
results = list(rules)

In [28]:
# save transactions and results in a csv
df1 = pd.DataFrame(transactions)
df1.to_csv("transactions.csv")
df2 = pd.DataFrame(results)
df2.to_csv("results.csv")

results = pd.read_csv('results.csv',header = None)
results.head(12)

,0,1,2,3,4
0,NaN,0.0,1,2,3
1,0.0,NaN,items,support,ordered_statistics
2,1.0,0.0,"frozenset({'light cream', 'chicken'})",0.004532728969470737,[OrderedStatistic(items_base=frozenset({'light...
3,2.0,1.0,"frozenset({'mushroom cream sauce', 'escalope'})",0.005732568990801226,[OrderedStatistic(items_base=frozenset({'mushr...
4,3.0,2.0,"frozenset({'escalope', 'pasta'})",0.005865884548726837,[OrderedStatistic(items_base=frozenset({'pasta...
5,4.0,3.0,"frozenset({'honey', 'fromage blanc'})",0.003332888948140248,[OrderedStatistic(items_base=frozenset({'froma...
6,5.0,4.0,"frozenset({'ground beef', 'herb & pepper'})",0.015997866951073192,[OrderedStatistic(items_base=frozenset({'herb ...
7,6.0,5.0,"frozenset({'ground beef', 'tomato sauce'})",0.005332622317024397,[OrderedStatistic(items_base=frozenset({'tomat...
8,7.0,6.0,"frozenset({'olive oil', 'light cream'})",0.003199573390214638,[OrderedStatistic(items_base=frozenset({'light...
9,8.0,7.0,"frozenset({'olive oil', 'whole wheat pasta'})",0.007998933475536596,[OrderedStatistic(items_base=frozenset({'whole...
10,9.0,8.0,"frozenset({'pasta', 'shrimp'})",0.005065991201173177,[OrderedStatistic(items_base=frozenset({'pasta...
11,10.0,9.0,"frozenset({'avocado', 'milk', 'spaghetti'})",0.003332888948140248,[OrderedStatistic(items_base=frozenset({'avoca...